$primary: #65a7dd;
$text: #8a8a8a;

.address-query {
  font-family: Arial, Helvetica, sans-serif;

  .address-query--title {
    font-size: 2rem;
  }
  
  .address-query__form {
    background-color: #ededed;
    padding: 1rem;
  
    .address-query__form--title {
      font-size: 1.2rem;
    }

    .address-query__form--label {
      color: $text;
      margin-right: .5rem;
    }
  
    .address-query__form--field {
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      color: $text;
      font-size: .9rem;
      padding: .5rem;
      margin: 0 .5rem;
      width: 120px;
    }
  
    .address-query__form--btn {
      background-color: $primary;
      border: 1px solid $primary;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      padding: .5rem;
      width: 100px;

      &:hover {
        background-color: darken($primary, 20%);
      }
    }

    .address-query__form--invalid {
      color: tomato;
      margin: .5rem;
    }
    
  }
}